*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}
body{
    background-color: rgba(52, 50, 50, 0.87);
    
}
nav{
    width: 100%;
    background-color: rgb(27, 24, 24);
    height: 80px;
    box-shadow: 15px 25px 15px rgba(52, 50, 50, 0.87);
    
}
.logo{
    width: 300px;
    height: 70px;
    padding-left: 50px;
}

.contenu-un{
    margin-top:20px;
    display: grid;
    width: 98%;
    height: auto;
    grid-template-columns:1fr 1fr;
    margin-left: auto;
    margin-right: auto;

}
.terrain{
    background-image: url("./imgs/stadium_background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}

.formulaire{
    background-color: rgb(70, 108, 70);
    align-items: center;
    padding: 10px;
    box-shadow: 15px 25px 15px rgba(52, 50, 50, 0.87);
    
}
.titre{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
    margin-top: 20px;
}
.contentforms{
    margin-top: 60px;
}
.tous{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
}
.ajout-btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#btn1{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(70, 79, 70);
    border: none;
    color: white;
    font-size: 1.2rem;

}
#btn1:hover{
    cursor: pointer;
}
.parent-joeur{
    width: 6.7rem;
    height: 9rem;
    position: relative;
}
.joeur1{
    width: 6rem;
    height: 9rem;
}
.terrain .parent-joeur:hover{
    filter:drop-shadow(0px 0px 10px #00ffcce0);
    transform: scale(1.2);
    -webkit-filter:drop-shadow(0px 0px 10px #00ffcce0);
}
.profile_joeur{
    width: 65px;
    height: 65px;
    position: absolute;
    left: 17px;
    top: 28px;
}
.nom_joeur{
    color:aliceblue;
    position: absolute;
    top: 92px;
    left: 35px;
}
.position_joeur{
    position: absolute;
    color: aliceblue;
    top: 27px;
    left: 12px;
}
.drapeau{
    position: absolute;
    width: 13px;
    height: 38px;
    top: 32px;
    right: 11px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.statistique{
    display: flex;
    justify-content: space-around;
    width: 70px;
    height: 15px;
    flex-direction: row;
    position: absolute;
    font-size:5px;
    color: white;
    bottom: 20px;
    left: 13px;
}
.Gk{
    width: 100%;
    display: grid;
    justify-items: center;
}
.Cb{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:center;
}
.Cm{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
}
.Lw-Rw{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-items:center;
}
.ST{
    width: 100%;
    display: grid;
    justify-items: center;
}


/* #diving,#handling,#kicking,#reflexes,#speed,#positioning{
    display: none;
} */
input,select{
    width: 260px;
    height:50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    outline-color:rgb(70, 108, 70);
    font-size: 1.2rem;
}
.reserve{
    width: 100%;
    height: auto;
} 
.joueur-reserve{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.joueur-reserve .joeur-res ,.cad-reserve{
    width: 10rem;
    height: 15rem;
} 
.cad-reserve{
    position: relative;
} 
.cad-reserve:hover{
    transform: scale(1.2);
}
.profile-res{
    position: absolute;
    top:3rem;
    width: 100px;
    height: 100px;
    left: 30px;
}
.name-res{
    color: white;
    position: absolute;
    top: 9.3rem;
    left: 3.4rem;
}
.pos_jr{
    color: white;
    position: absolute;
    top: 3rem;
    left: 1.5rem;
}
.drapeau_res{
    position: absolute;
    width: 2.3rem;
    height: 2.5rem;
    top:3.2rem;
    right:17px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.statistique-res{
    display: flex;
    justify-content: space-around;
    width: 7.5rem;
    height: 15px;
    flex-direction: row;
    position: absolute;
    font-size:9px;
    color: white;
    bottom: 50px;
    left: 22px;
}
.reserve .j-reserve{
    font-size: 2rem;
    margin-left: 50px;
    margin-top: 30px;
}


footer{
    color: white;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 24, 24);
}
@media screen and (max-width: 1024px) {
    
    .contenu-un {
        grid-template-columns: 1fr;

    }
    .formulaire{
        margin-top: 30px;
    }
    input,select{
        width: 340px;
    }
    .titre h2{
        font-size:3rem;
    }
}
@media screen and (max-width: 430px) {
    .contenu-un {
        grid-template-columns: 1fr;
    
    }
    .logo{
        width: 250px;
    }
    body{
        width: 200vw;
    }
    

}